body{
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
    padding:50px;
}

button{
    padding:12px 25px;
    font-size:18px;
    cursor:pointer;
    margin:20px;
}

#result{
    margin-top:30px;
    font-size:22px;
    line-height:2;
}